@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: hsl(303, 10%, 53%);
    line-height: 1.5;
    background: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
    background-repeat: no-repeat;
    background-position: top, bottom;
    /* overflow-x: hidden; */
}

.container {
    max-width: 375px;
    margin: auto;
}

.content {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content-text {
    text-align: center;
}

.content-text h1 {
    color: hsl(300, 43%, 22%);
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1;
}

.content-text p {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.rating {
    width: 100%;
    margin-bottom: 2rem;
}

.rating-card {
    padding: 1rem 0;
    margin: 1rem 0;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border: 1px solid transparent;
    border-radius: 10px;
}

.rating-card div img {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.card {
    background-color: hsl(300, 43%, 22%);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    color: white;
}

.card-title {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.card-title img {
    max-height: 50px;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.card-title h6 {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}

.card-title h5, h6 {
    font-size: 1rem;
}


@media (min-width: 1500px) {
    .container {
        max-width: 1440px;
    }
    body {
        background: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');;
        background-repeat: no-repeat;
        background-position: top left, bottom right;
    }
    .content, .card-container {
        flex-direction: row;
    }

    .content-text {
        justify-content: flex-start;
        text-align: start;
        margin-right: 5rem;
        flex: 1;
    }

    .content-text h1 {
        font-size: 3rem;
        max-width: 400px;
    }

    .content-text p {
        padding: 1rem 0;
        max-width: 480px;
    }

    .rating {
        text-align: left;
        flex: 1;
    }
    .rating-card {
        width: 80%;
        padding: 0.5rem 4rem;
        padding-left: 2rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        padding-top: 1rem;
        /* align-items: center; */
    }
    .rating-card div {
        margin-right: 2rem;
    }
    .rc1 {
        transform: translatex(-10%);
    }
    .rc3 {
        transform: translatex(10%);
    }

    .card {
        margin-right: 2rem;
    }
    .card p {
        max-width: 365px;
        line-height: 1.8;
    }
    .c2 {
        transform: translatey(10%);
    }
    .c3 {
        transform: translatey(20%);
    }
}